body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../one.jpg);
	height:100vh;
	background-size: cover;
	background-position:center
}


.box{
	width: 300ppx;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background:#191919;
	text-align: center;
}
.box h1{
	color:white;
	text-transform: uppercase;
	font-weight:500;
}
.box input[type="text"],.box input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;

}
.box input[type="text"]:focus,.box input[type="password"]:focus{
	width: 280px;
	border-color: #2ecc71;
	transition: 2s;
}
.box input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 10px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
	cursor: pointer;
}
.box input[type="submit"]:hover{
	background:#2ecc71
	;

}
ul{
	float:right;
	color:	#7FFF00;
	list-style-type: none;
	margin-top: 25px;
	}

ul li{
	display: inline-block;
	color: #7FFF00;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #F0FFFF;
	color: #32CD32;
}

ul li.active a{
	background-color: #F0FFFF;
	color: #000;
}