html {
  scroll-behavior: smooth;
}
*{
	margin:0;
	padding:0;
	color: 	#00FF00;
	font-family:Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../one.jpg);
	height:100vh;
	background-size: cover;
	background-position:center;
	}
ul{
	float:right;
	color:	#000000;
	list-style-type: none;
	margin-top: 25px;
	}
ul li{
	display: inline-block;
	color: #7FFF00;
	padding: 5px 20px;
	border: 1px solid transparent;
	border-color:black;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #F0FFFF;
	color: #32CD32;
}

ul li.active a{
	background-color: #F0FFFF;
	color: #000;
}
.logo img{
	float: left;
	width:150px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.title h1{
	color: #FFFF00;
	font-size: 70px;
}
.button{
	position: absolute;
	top: 80%;
	left: 50%;
	transform:translate(-50%,-50%)
}
.btn{
	border: 1px solid #fff;
	padding: 30px 30 px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #F0FFFF;
	color: #32CD32

}